<div class="d-flex justify-content-around h-100 flex-column">
  <button class="btn btn-primary" (click)="findOrganContainer('HeartPoints')">Heart</button>
  <button class="btn btn-primary" (click)="findOrganContainer('Chin')">Chin</button>
  <button class="btn btn-primary" (click)="findOrganContainer('Sternum')">Sternum</button>
  <button class="btn btn-primary" (click)="findOrganContainer('AbdomenPoints')">Abdomen</button>
  <button class="btn btn-primary" (click)="findOrganContainer('Navel')">Navel</button>
  <button class="btn btn-primary" (click)="findOrganContainer('LungPoints')">Lung</button>
</div>
